In [9]:
from google.cloud import bigquery
import os
import pandas as pd

# Get environment variables 
project_id = os.getenv("GCP_PROJECT_ID")
dataset    = os.getenv("BQ_DATASET_INTERMEDIATE")
table      = "stock_prices_mag7_ta_benchmark"

print(f"Loading data from BigQuery table: {project_id}.{dataset}.{table}")

Loading data from BigQuery table: pizza-skxw.mag7_intel_intermediate.stock_prices_mag7_ta_benchmark

In [10]:
# Initialize BigQuery client
client = bigquery.Client(project=project_id)

# Query to fetch data
query = f"""
SELECT * FROM `{project_id}.{dataset}.{table}` LIMIT 1000
"""

# Execute query and convert to DataFrame
df = client.query(query).to_dataframe()
df.head()

/home/shpang/miniconda3/envs/mag7/lib/python3.11/site-packages/google/cloud/bigquery/table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,trade_date,ticker,open,high,low,close,adj_close,volume,return_1d,return_5d,...,ma_200,is_index,benchmark_ticker,index_ticker,index_return_1d,index_ma_50,index_ma_200,index_vola_20d,index_price_zscore_20d,excess_return_1d
0,2023-11-20,META,334.890015,341.869995,334.190002,339.970001,337.887024,16960500,0.014715,0.032747,...,263.147721,False,NDX,None,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-11-20,TSLA,234.039993,237.100006,231.020004,235.600006,235.600006,116320100,0.005548,0.053149,...,222.522950,False,NDX,None,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-11-20,AMZN,145.130005,146.630005,144.729996,146.130005,146.130005,41951200,0.006544,0.024826,...,120.581400,False,NDX,None,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-11-20,NVDA,49.312000,50.548000,49.181000,50.409000,50.379311,414120000,0.022536,0.036796,...,37.145863,False,NDX,None,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-11-20,GOOGL,133.690002,136.660004,133.619995,136.250000,135.316711,27815500,0.006947,0.031494,...,118.483558,False,NDX,None,NaN,NaN,NaN,NaN,NaN,NaN